<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makeus.blue.viewte">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".src.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".src.end_interview.EndInterviewActivity"></activity>
        <activity android:name=".src.setting.SettingActivity" />
        <activity android:name=".src.finish_interview.FinishInterviewActivity" />
        <activity android:name=".src.is_add_question.IsAddQuestionActivity" />
        <activity android:name=".src.start_interview.StartInterviewActivity" />
        <activity android:name=".src.introduce.IntroduceActivity" />
        <activity android:name=".src.ice_break.IceBreakActivity" />
        <activity android:name=".src.prev_interview.PrevInterviewActivity" />
        <activity android:name=".src.interview.InterviewActivity" />
        <activity android:name=".src.add_interview.AddInterview7Activity" />
        <activity android:name=".src.add_interview.AddInterview6Activity" />
        <activity android:name=".src.add_interview.AddInterview5Activity" />
        <activity android:name=".src.add_interview.AddInterview4Activity" />
        <activity android:name=".src.add_interview.AddInterview3Activity" />
        <activity android:name=".src.add_interview.AddInterview2Activity" />
        <activity android:name=".src.add_interview.AddInterview1Activity" />
        <activity android:name=".src.category.CategoryActivity" />
        <activity android:name=".src.record.RecordActivity" />
        <activity android:name=".src.join.Join2Activity" />
        <activity android:name=".src.join.JoinActivity" />
        <activity android:name=".src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.login.LoginActivity" />
        <activity android:name=".src.main.MainActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/KAKAO_APP_KEY" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8ThsdVj_Qd2ZWrDcq9wBR_EYIZZutGPQ" />
    </application>

</manifest>